@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["AdditionalBodyClass"] = "forgot-bg";
    Layout = "~/Areas/Identity/Pages/Account/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/forgot.css">
}

<div class="row">
    <div class="col s12">
        <div class="container">
            <div id="forgot-password" class="row">
                <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                    <br />
                    <br />
                    <br />
                    <h5 class="center-align">
                        E-posta adresinizi kontrol ediniz.
                    </h5>
                    <a class="btn waves-effect waves-light gradient-45deg-deep-purple-blue gradient-shadow mb-4" style="margin-left:auto; margin-right:auto; margin-top:30px; display:block; max-width:240px;" href="/Index">
                        Anasayfa'ya Dön
                    </a>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>



