@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["AdditionalBodyClass"] = "forgot-bg";
    Layout = "~/Areas/Identity/Pages/Account/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/forgot.css">
}

<div class="row">
    <div class="col s12">
        <div class="container">
            <div id="forgot-password" class="row">
                <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
                    <form autocomplete="off" method="post" class="login-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <h5 class="ml-4">Parolanızı Oluşturun</h5>
                                <p class="ml-4">Sistemde kayıtlı üyeliğiniz için yeni parola oluşturun.</p>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">person_outline</i>
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">security</i>
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">security</i>
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div asp-validation-summary="All" class="text-danger validation-summary"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <button type="submit" class="btn btn-primary waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s4 float-none ml-auto mr-auto d-block">Kaydet</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                            </div>
                            <div class="input-field col s6 m6 l6">
                                <p class="margin right-align medium-small"><a asp-page="./Login">Giriş Yap</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>
