<footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; 2020 <a href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">@ViewBag.BrandName</a> Tüm Hakları Saklıdır.</span>
        <span class="right hide-on-small-only"> <a href="https://pragmasoft.com.tr/" target="_blank">Pragma </a>tarafından geliştirildi.</span></div>
    </div>
</footer>